.stockcard {
    display: inline-block;
    height: 130pt;
    width: 130pt;
    margin: 5px;
    line-height: 33pt;
    text-align: center;
    color: rgba(14, 13, 13, 0.89);
    border-radius: 1rem;
}

[direction-of-change='↑'] {
    background-color: #5cb85c;
}

[direction-of-change='↓'] {
    background-color: #d9534f;
}

.stockcard-ticker-symbol {
    padding-top: .8rem;
    font-size: 1.8rem;
    margin-bottom: 0px;
}

.stockcard-name {
    font-size: .1rem;
    font-style: italic;
}

.stockcard-body {
    font-size: .2rem;
}

.current-price {
    font-size: 1rem;
    font-weight: 600;
    padding-right: .5rem;
}

.delete-stock-button {
    float: right;
    font-size: 1rem;
    font-weight: 200;
    background-color: inherit;
    border-width: 0px;
    color: inherit;
    padding-top: 2px;
}