.stockcard {
    border: 2pt;
    border-style: solid;
    height: 130pt;
    width: 130pt;
    float: left;
    margin: 10px;
    line-height: 33pt;
}

.stockcard-name {
    text-align: center;
    font-size: 1.3rem;
}

.stockcard-body {
    text-align: center;
    font-size: .8rem;
}

.current-price {
    font-size: 1rem;
    font-weight: 600;
    padding-right: .5rem;
}

span[direction-of-change='↑'] {
    color: green;
}

span[direction-of-change='↓'] {
    color: red;
}