.stockcard {
    border: 2pt;
    border-style: solid;
    height: 130pt;
    width: 130pt;
    float: left;
    margin: 10px;
    line-height: 33pt;
}

.stockcard-name {
    text-align: center;
    font-size: 1.3rem;
}

.stockcard-body {
    text-align: center;
    font-size: .8rem;
    color: red;
}

.current-price {
    font-size: 1rem;
    font-weight: 600;
    padding-right: 2px;
}

.today-change-amount, .today-change-percent {
    color: red;
}



/* <h3 className="stockcard-name">
AAPL
</h3>
<span className="current-price">
146.94
</span>
<span className="today-change-amount">
-2.2
</span>
<span className="today-change-percent">
(-2.9)%
</span> */